.buttonContainer {
    background-color: #5cb85c;
    padding: 7px 20px;
    box-shadow: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: none;

    &:hover {
        opacity: .8;
    }

}

.danger {
    background-color: #d9544f;
}

.primary {
    background-color: #3596f3;
}

.info {
    background-color: #3fbcd4;
}